#topic-page{
    background-color: #ffffff;
    background-image: url("../../public/Blue-Textured-Wallpaper-24-1920x1200.jpg");
    padding: 50px;
}

@media screen and (max-width: 450px){
    #topic-page{
        padding: 50px 20px;
    }
}