#comment-detail{
    background-color: #e6e6e6;
    margin-bottom: 40px;
}

#user{
    display: inline-block;
    float: left;
    margin: 10px;
    padding-top: 10px;
    text-align: center;
    color: #000000;
}

#detail{
    margin: 20px;
    padding: 20px;
}

#detail p{
    height: 60px;
}

#detail hr{
    margin: 0;
    width: 100%;
}

@media screen and (max-width: 450px){
    #detail{
        display: inline-block;
    }
}


#votebox-comment{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 25px;
}

.vote {
    cursor: pointer;
}

.vote-count{
    padding-left: 10px;
    font-size: 20px;
}

#upvote {
    color: green;
}