#question-detail{
    background-color: #ffffff;
    height: 200px;
    margin-bottom: 40px;
}

#user{
    display: inline-block;
    float: left;
    margin: 10px;
    padding-top: 10px;
    text-align: center;
}

#detail{
    display: inline-block;
    margin: 20px;
    padding-left: 40px;
}

#voting{
   display: inline-block;
    float: right;
    padding: 20px;
    border-left: 1px solid #dddddd;
    height: 100%;
}

#votebox{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80px;
    font-size: 25px;
    margin-top: 20px;
}

.vote {
    cursor: pointer;
}

#upvote {
    color: green;
}

#category{
    font-size: 20px;
}