#question-detail{
    background-color: #000000;
    margin-bottom: 40px;
}

@media screen and (max-width: 450px){
    #question-detail{
        width: 320px;
        max-height: 100%;
        padding: 0 5px;
        margin-bottom: 50px;
    }
}

#user{
    display: inline-block;
    float: left;
    margin: 10px;
    padding-top: 20px;
    text-align: center;
    color: #ffffff;
}

#topic-detail{
    margin: 20px;
    padding: 20px;
}

#topic-detail h4{
    text-decoration: none;
    color: #a01517;
}

#topic-detail p{
    padding-top: 10px;
    color: #ffffff;
}

@media screen and (max-width: 450px){
    #topic-detail{
        display: inline-block;
    }
}


#voting {

}

#votebox{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 25px;
    color: #dddddd;
}

.vote {
    cursor: pointer;
}

#upvote {
    color: green;
}

#category{
    font-size: 20px;
    color: #dddddd;
}